:root.theme-dark {
  --title-text-color: #000028;
  --text-color: #db00ff;
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --border-color: #ff0070;
}
.theme-dark .page {
  background-image: url(../images/cover-image-dark.png);
}
:root.theme-dark .section-main__title,
:root.theme-dark .header__theme-menu-button,
:root.theme-dark .decorated-zone::after,
:root.theme-dark .decorated-zone::before,
:root.theme-dark .header__theme-menu-button_active,
:root.theme-dark .header__theme-menu-button:focus-visible {
  border-color: var(--accent-color, #ff0070);
  outline-color: var(--accent-color, #ff0070);
  color: var(--accent-color, #ff0070);
}
