:root.theme-light {
  --title-text-color: #353430;
  --text-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --border-color: rgba(0, 0, 40, 0.5);
  --background-image: url(../images/cover-image-light.png);
  --background-color: #f9e3f0;
  --section-title-color: #000028;
  --text-button-color: #000028;
  --decor-corner-color: #000028;
  --active-button-color: #000028;
}
:root.theme-light .rec {
  display: none;
}
@media (prefers-color-scheme: light) {
  :root {
    --title-text-color: #353430;
    --text-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --border-color: #ada4a6;
    --background-image: url(../images/cover-image-light.png);
    --background-color: #f9e3f0;
    --section-title-color: #000028;
    --text-button-color: #000028;
    --decor-corner-color: #000028;
    --active-button-color: #000028;
  }
  .rec {
    display: none;
  }
}
